@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-Light.woff2') format('woff2'),
        url('AdventPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-Bold.woff2') format('woff2'),
        url('AdventPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-Regular.woff2') format('woff2'),
        url('AdventPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

